<div class="login">
    <div class="container-fluid login">

        <form class="form-signin box-shaded animated fadeInDown" role="form">
            <header>
                <div id="logo">
                    <img alt="Todo" src="../../Content/images/logo-login.png" />
                </div>
            </header>
            <hr />
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="username" class="form-control" id="username" name="username" data-ng-model="userLogin.username">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" data-ng-model="userLogin.password">
            </div>
            <div class="form-group">
                <button  type="submit" class="btn btn-primary" data-ng-click="login(userLogin)">Ingresar</button>
                <button type="submit" class="btn btn-primary" data-ng-click="register(userLogin)">Registrar</button>
            </div>
            <div class="form-group text-center">
                <p>© 2014 - Todo - V.{{$root.version}} - rev. {{$root.rev}}</p>
            </div>
        </form>
    </div> <!-- /container -->
  
</div>